.project-container {
    width: 100%;
    border-radius: 20px;
    backdrop-filter: blur(var(--background-blur-radius));
    background-color: var(--blur-background-color-dark);
    border: 1px solid white;
    text-align: left;
    padding: var(--navbar-padding-top-bottom);
    margin-bottom: 40px;
    max-width: 80vw;
}

h2 {
    font-weight: var(--font-weight-semibold);
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.project-image {
    display: block;
    margin: auto;
    max-height: 50vh;
    max-width: 80vw;
}

.project-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-title {
    color: white;
    cursor: pointer;
}

.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: auto;
}

.collapsed {
    max-height: 100px;
    overflow: hidden;
    position: relative;
}

.collapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    mask-image: linear-gradient(to bottom, transparent, black 50%, transparent);
}

.transition {
    transition: max-height 0.5s ease-out;
}
